.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*


.env
.env.development
.env.local
.env.production
.env.test
.env.test.local
.env.example

src/extension.example.ts